* {
    margin: 0;
    padding: 0;
    box-sizing: border-border;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #19191c, #080042);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #8f8dd0;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
    text-align: center;
    width: 350px;
}

.card h2 {
    color: #100505;
    margin-bottom: 20px;
    font-size: 22px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 12px 15px;
    border: 2px solid #14141a;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #41466c;
}

button {
    padding: 12px;
    background-color: #35376b;
    color: rgb(247, 243, 243);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.share-btn {
    background-color: #35376b;
    color : #ffffff;
margin-top: 10px;
width: 100%;
}
.share-btn:hover{
    background-color: #1d1435;
}

button:hover {
    background-color: #1d1435;
    transform: translateY(-2px);
}

.qr-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.qr-box img {
    max-width: 180px;
    border-radius: 8px;
    transition: 0.3s;
}